.bannerMid {
   padding-top: 1rem;
   padding-bottom: 5rem;
   // overflow: hidden;

   // @media (max-width: 1900px) {
   //    margin-right: auto;
   //    margin-left: auto;
   // }

   &__wrapper {
      display: grid;
      grid-template-columns: 700px 1fr;

      justify-content: center;
      // overflow: hidden;
      &:hover .bannerMid__cta {
         transform: skew(0deg);
         // overflow: hidden;
         &--btn {
            transform: skew(0deg);
         }
      }
      &:hover .bannerMid__right--hero {
         transition: all 0.2s ease-in-out;
         transform: translateX(-5rem);
         // overflow: hidden;
      }
   }

   &__leftWrapper {
      background-color: $secondary;
      margin-right: -30rem;
      // overflow: hidden;

      clip-path: polygon(0 10%, 100% 10%, 100% 100%, 0% 100%);
      //   max-width: max-content;
   }
   &__left {
      padding-left: 16rem;
   }
   &__heading {
      padding-top: 10rem;
      font-family: 'Rajdhani';
      font-size: 2.8rem;
      line-height: 1.25;
      width: 450px;
      text-transform: uppercase;

      color: white;
      &--span {
         color: $primary;
      }
   }

   &__subHeading {
      padding-top: 2rem;

      font-size: 1rem;
      color: white;
      padding-bottom: 4rem;
   }
   &__right {
      overflow: hidden;
      padding-left: 15rem;
      // transition: all 0.3s ease-in-out;
      &--heroWrapper {
         transform: scale(1.1);
         // margin-left: 22rem;
         clip-path: polygon(22% 0, 100% 0%, 100% 100%, 0% 100%);
      }
      &--hero {
         width: max-content;
         transform: translateX(0rem);
         transition: all 0.3s;
      }
   }

   &__cta {
      display: inline-block;
      border-radius: 10px;
      text-transform: uppercase;
      font-size: 18px;
      font-family: 'Rajdhani';
      font-weight: 700;
      background-color: $primary;
      padding: 0.5rem 4rem;
      border-radius: 0;
      transform: skewX(-20deg);
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      overflow: hidden;
      &--btn {
         color: #222222;
         transition: all 0.2s ease-in-out;
         transform: skew(20deg);
         display: inline-block;
         // overflow: hidden;
      }
   }
}
