.features {
   height: 52rem;
   padding-top: 4rem;
   background-size: 100% 100%;
   position: relative;

   &__content {
      margin-left: auto;
      margin-right: auto;
      &--list {
         max-width: 1800px;
         display: grid;
         // justify-content: center;
         // justify-content: space-around;
         grid-template-columns: 1fr 1fr 1fr;
         gap: 3rem;
      }
      &--item {
         position: relative;
         overflow: hidden;
         height: 280px;
         cursor: pointer;
         // background: red;

         transition: all 0.3s ease-in-out;

         &:nth-child(1) {
            .features__content--item--photo {
               background-image: url(../img/carpart-banner-1.jpg);
            }
         }
         &:nth-child(2) {
            .features__content--item--photo {
               background-image: url(../img/carpart-banner-2.jpg);
            }
         }
         &:nth-child(3) {
            .features__content--item--photo {
               background-image: url(../img/carpart-banner-3.jpg);
            }
         }

         &:hover {
            .features__content--item--photo {
               transform: scale(1.1);
            }
            .features__content--item--overlay {
               width: 77%;
            }
         }
         &--photo {
            transition: all 0.3s ease-in-out;

            position: absolute;

            background-position: top left;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            // &:nth-child(1) {
            //    background-image: url(../img/carpart-banner-1.jpg);
            // }
            // &:nth-child(2) {
            //    background-image: url(../img/carpart-banner-2.jpg);
            // }
            // &:nth-child(3) {
            //    background-image: url(../img/carpart-banner-3.jpg);
            // }
         }

         &--overlay {
            transition: all 0.3s ease-in-out;
            top: 0;
            background: $secondary;
            opacity: 0.5;
            position: absolute;
            height: 100%;
            width: 65%;
            clip-path: polygon(66% 0, 100% 40%, 59% 100%, 0 100%, 0 0);
         }

         &--wrapper {
            position: relative;
            height: 100%;
            max-width: 370px;
         }
      }
   }

   &__heading {
      color: white;
      text-transform: uppercase;
      font-size: 2.2rem;
      font-weight: 700;
      font-family: 'Rajdhani';
      padding-left: 3rem;
      padding-top: 0;

      &--paragraph {
         padding-left: 3rem;
         padding-top: 1rem;
         padding-bottom: 1.95rem;
         color: white;
         font-size: 15.5px;
         max-width: 260px;
         line-height: 23px;
         font-family: 'Open Sans';
         &--3 {
            padding-top: 2.8rem;
            padding-left: 3rem;
            text-transform: uppercase;
            color: white;
            font-family: 'Rajdhani';
            font-size: 16.5px;
         }

         &--price {
            padding-left: 2rem;
            color: $primary;
            font-size: 1.34rem;
            margin: -24.5px;
            font-family: 'Rajdhani';
            font-weight: 900;
            &--from {
               padding-top: 1rem;
               padding-bottom: 1.1rem;
               padding-left: 3rem;
               color: white;
               font-size: 15.5px;
            }
         }
      }
      &--additional {
         padding-left: 3rem;
         padding-top: 2rem;
         color: white;
         text-transform: uppercase;
         line-height: 10px;

         &--span {
            padding-left: 3rem;
            color: white;
            text-transform: uppercase;
            padding-bottom: 2rem;
         }
      }

      &--saveUp {
         margin-top: 3rem;
         margin-left: 3rem;
         margin-bottom: 1.4rem;
         background-color: $primary;
         padding-left: 10px;
         padding-right: 10px;
         padding-top: 0;
         padding-bottom: 0;
         display: inline-block;
         text-transform: uppercase;
         font-family: 'Rajdhani';
         font-weight: 900;
         font-size: 1rem;
         color: $grayDark;
      }
   }
   &__subheading {
      display: inline-block;
      padding-top: 3.3rem;
      padding-left: 3rem;
      color: white;
      text-transform: uppercase;
      font-family: 'Rajdhani';
      font-size: 2.3rem;
      line-height: 33px;
      letter-spacing: 1px;
   }

   &__cta {
      display: inline;
      margin-left: 3rem;
      padding-top: 1rem;
      text-transform: uppercase;
      font-family: 'Open Sans';
      font-weight: 700;
      letter-spacing: 1px;
      border-bottom-style: solid;
      border-bottom-width: 2.5px;
      color: $primary;
      &--btn {
         color: white;
      }
   }
}
