.module {
   position: relative;
   padding-bottom: 5rem;
   &__wrapper {
      display: grid;
      grid-template-columns: 320px 1fr;
   }
   // height: 75rem;

   &__details {
      padding-left: 1rem;
   }
   &__left {
      // grid-template-columns: 200px;
      background-color: $primary;
      padding-left: 2.5rem;

      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-size: 1.7rem;
      font-family: 'Rajdhani';
      font-weight: 900;
      text-transform: uppercase;
      color: $grayDark;
      clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
   }

   &__tabs {
      background-color: $secondary;
      margin-left: -5rem;
      padding-left: 7rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-family: 'Rajdhani';
      font-size: 1.2rem;
      &--item {
         &:hover {
            color: $primary;
         }
      }
      &--list {
         display: flex;
         gap: 2rem;

         // gap: 6rem;
         // padding-right: 40rem;

         color: white;
      }
   }

   &__cards {
      &--list {
         display: grid;
         line-height: 1.5rem;
         grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }

      &--item {
         position: relative;
         // margin-top: -1px;
         border-bottom: 1px solid #e3e3e3;
         border-left: 1px solid #e3e3e3;
         &:last-child .module__cards--item--wrapper {
            border-right: 1px solid #e3e3e3;
         }
         // #e3e3e3;

         &--wrapper {
            padding-bottom: 1rem;
         }

         &:hover .module__cards--item--photo {
            transform: scale(1.1);
         }
         &:hover .module__cards--submit {
            transform: scale(1);
         }

         &:hover .module__popup {
            // transform: scale(1);
            transform: translateY(0rem);
            opacity: 1;
            visibility: visible;
         }
         &--imageWrapper {
            overflow: hidden;
         }

         &--price {
            font-weight: 900;
            font-family: 'Open Sans';
            font-size: 1.1rem;
         }
         &--photo {
            transition: all 0.2s ease;
         }
         // &--photo:hover {
         //    transform: scale(1.1);
         // }
      }
      &--submit {
         background: $primary;
         color: $secondary;
         border-radius: 50%;
         width: 35px;
         height: 35px;
         margin-right: 1rem;
         float: right;
         margin-top: -2.5rem;
         font-size: 1.8rem;
         text-align: center;
         transform: scale(0);
         transition: all.2s ease-in-out;
         &--icon {
            line-height: 2.3rem;
            font-weight: 100;
            &:hover {
               color: white;
            }
         }
      }
   }

   &__reviews {
      &--actions {
         color: $primary;
      }
   }

   &__popup {
      // margin-bottom: -10rem;
      display: flex;
      // margin-left: 2px;
      color: #707070;
      justify-content: space-between;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #e3e3e3;
      border-right: 1px solid #e3e3e3;
      border-left: 1px solid #e3e3e3;
      transform: scale(0);
      // transition: 0.2s;
      position: absolute;
      transform: translateY(1.5rem);
      width: 100%;
      transition: all 0.1s ease-in-out;
      opacity: 0;
      visibility: hidden;
      &--wrapper {
         &:hover {
            color: $primary;
         }
         display: flex;
         padding-left: 0.8rem;
         padding-right: 0.8rem;
         &--icon {
            font-size: 1.5rem;
         }
         &--name {
            font-size: 1.2rem;
            // padding-left: 1px;
         }
      }
   }
}
