.newsletter {
   padding-top: 5rem;
   padding-bottom: 0.5rem;
   background-color: $bg;
   &__content {
      padding-top: 6rem;
      background-image: url(../img/newsletter-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      // color: white;
      background-attachment: fixed;
      background-position: center;
      height: 60vh;
   }

   &__headline {
      text-align: center;
   }
   &__header {
      color: white;
      text-transform: uppercase;
      font-family: 'Rajdhani';
      font-size: 3.5rem;
      padding-bottom: 1rem;

      &--span {
         color: $primary;
         text-transform: uppercase;
         font-family: 'Rajdhani';
         font-size: 3.5rem;
      }
   }

   &__subheader {
      color: white;
      font-size: 14px;
      letter-spacing: 0.3px;
      line-height: 20px;
      font-weight: 400;
      padding-top: 1rem;
      padding-bottom: 3.5rem;
      width: 500px;

      // &--wrapper {
      //    width: 500px;
      // }
   }

   &__subscribeForm {
      &--list {
         display: flex;
         justify-content: center;

         &:hover .newsletter__subscribeForm--item {
            transform: skewX(0deg);
         }

         &:hover .newsletter__input {
            transform: skewX(0deg);
         }
         &:hover .newsletter__btn {
            transform: skew(0deg);
         }
         &:hover .newsletter__cta {
            transform: skew(0deg);
         }
      }
      &--item {
         padding-left: 1.5rem;
         padding-right: 1.5rem;
         background-color: white;
         width: 30rem;
         transform: skewX(-20deg);
         transition: all 0.2s;
      }
   }
   &__input {
      font-size: 1.1rem;
      display: block;
      border: none;
      margin: 1rem;
      outline: none;
      transform: skewX(20deg);
      transition: all 0.2s;
   }

   &__btn {
      background-color: $primary;
      padding-right: 2.6rem;
      padding-left: 2.6rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      transform: skewX(-20deg);
      transition: all 0.2s;
      &--cta {
         transition: all 0.2s;
         color: $gray;

         font-size: 14px;
         font-weight: 700;
         text-transform: uppercase;
      }
   }
   &__cta {
      transition: all 0.2s ease-in-out;
      transform: skewX(20deg);
   }
}

.deal {
   background-color: white;
   margin-top: -13rem;
   padding-bottom: 4.2rem;

   &__wrapper {
      display: flex;
   }

   &__left {
      padding-left: 6.5rem;
      padding-top: 1.5rem;
      display: flex;
   }

   &__promoWrapper {
      margin-left: -7.5rem;
      margin-top: 7rem;
   }
   &__promo {
      padding-top: 0.8rem;
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      background-color: $primary;
      text-align: center;
      color: $gray;
      &--span {
         font-family: 'Rajdhani';
         font-size: 32px;
         font-weight: 600;
      }
   }

   &__endspan {
      display: flex;
      margin-top: 34rem;
      gap: 1rem;
      &--1 {
         margin-left: -20rem;
         font-size: 4.5rem;
         color: black;
      }
      &--2 {
         font-size: 4.5rem;

         color: #e8e8e8;
      }
   }

   //RIGHT
   &__right {
      margin-top: 7rem;
      margin-left: 12rem;
   }

   &__header {
      width: 400px;
      line-height: 4rem;
   }

   &__headerSpan {
      color: gray;
      text-transform: uppercase;
      font-family: 'Rajdhani';
      font-weight: 900;
      font-size: 15px;
      letter-spacing: 2px;
   }

   &__heading {
      padding-top: 1rem;
      font-family: 'Rajdhani';
      text-transform: uppercase;
      font-size: 3.5rem;
      &--span {
         color: $primary;
      }
   }

   &__cta {
      display: inline-block;
      border-radius: 10px;
      text-transform: uppercase;
      font-size: 17px;
      font-family: 'Rajdhani';
      font-weight: 700;
      background-color: $primary;
      padding: 0.5rem 3rem;
      border-radius: 0;
      transform: skewX(-20deg);
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      overflow: hidden;
      margin-left: 1.5rem;
      &:hover {
         transform: skew(0deg);
      }

      &:hover .deal__cta--btn {
         transform: skew(0deg);
      }
      &--btn {
         color: $gray;
         transition: all 0.2s ease-in-out;
         transform: skew(20deg);
         display: inline-block;
         letter-spacing: 1px;
      }
   }

   &__countdown {
      padding-top: 2rem;
      margin-left: -4rem;

      padding-bottom: 4rem;
   }

   &__time {
      &--list {
         display: flex;
         justify-content: space-evenly;
      }
      &--item {
         font-family: 'Rajdhani';
         font-weight: 900;
         color: $primary;
         font-size: 2.8rem;
      }
   }

   &__semicolon {
      &--list {
         display: flex;
         justify-content: space-evenly;
         margin-right: 2rem;
         margin-top: -0.7rem;
         // line-height: 1.5rem;
      }
      &--item {
         font-family: 'Rajdhani';
         font-weight: 900;
         color: #d0d0d0;
         font-size: 2rem;
      }
   }

   &__difference {
      &--list {
         margin-top: -0.5rem;
         display: flex;
         justify-content: space-evenly;
      }
      &--item {
         font-family: 'Rajdhani';
         font-weight: 900;
         color: black;
         font-size: 1.2rem;
         text-transform: uppercase;
      }
   }
}
