@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Rajdhani:wght@300;500;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open sans', sans-serif;
  font-size: 14px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

[tabindex='-1']:focus {
  outline: 0 !important;
}

body {
  min-height: calc(100vh - 100px);
  line-height: 26px;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  line-height: 36px;
}

img {
  width: 100%;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  overflow: visible;
  border: none;
  height: 1px;
  margin: 2rem 0;
}

label {
  display: inline-block;
}

ol,
ul,
dl {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

address {
  font-style: normal;
  line-height: inherit;
}

strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.w-1500 {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 1fr;
      grid-template-columns: 400px 1fr;
}

@media (max-width: 1480px) {
  .header {
    -ms-grid-columns: 200px 1fr;
        grid-template-columns: 200px 1fr;
  }
}

@media (max-width: 930px) {
  .header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 930px) {
  .header__logoWrapper {
    margin: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.header__logo {
  width: 166px;
}

.header__left {
  -webkit-clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
  margin-right: -15rem;
  background: #fbb71c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15rem;
}

@media (max-width: 1480px) {
  .header__left {
    padding-left: 7rem;
  }
}

@media (max-width: 930px) {
  .header__left {
    padding-right: 0;
    margin-right: 0;
    -webkit-clip-path: none;
            clip-path: none;
    padding-left: 0;
  }
}

.header__right {
  padding-left: 12rem;
}

@media (max-width: 930px) {
  .header__right {
    padding-left: 0;
  }
}

.header__top {
  background-color: #0c1555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 1150px) {
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 930px) {
  .header__top {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.header__top--promo {
  color: white;
  padding-left: 4rem;
}

@media (max-width: 1050px) {
  .header__top--promo {
    padding-left: 0;
  }
}

.header__top--promo--span {
  color: #fbb71c;
}

.header__top--login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  color: white;
  padding-right: 10rem;
}

@media (max-width: 1480px) {
  .header__top--login {
    padding-right: 7rem;
  }
}

@media (max-width: 1050px) {
  .header__top--login {
    padding-right: 0;
  }
}

@media (max-width: 560px) {
  .header__top--login {
    padding-left: 0;
    display: none;
  }
}

.header__top--login--signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header__nav--mobile {
  font-size: 25px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1240px) {
  .header__nav--mobile {
    display: block;
    margin-left: 2rem;
  }
}

.header__nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  padding-left: 4rem;
}

@media (max-width: 1240px) {
  .header__nav--list {
    display: none;
  }
}

.header__nav--item {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #292727;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__nav--item:hover {
  color: #fbb71c;
}

.header__nav--action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10rem;
}

@media (max-width: 1480px) {
  .header__nav--action {
    padding-right: 7rem;
  }
}

@media (max-width: 930px) {
  .header__nav--action {
    padding-right: 2rem;
  }
}

.header__nav--action--icon {
  font-size: 35px;
  color: #292727;
  cursor: pointer;
}

.header__nav--action--icon:hover {
  color: #fbb71c;
}

.header__nav--hotline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 475px) {
  .header__nav--hotline {
    display: none;
  }
}

.header__nav--hotline--number {
  color: #fbb71c;
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.header__nav--hotline--icon {
  font-size: 35px;
  color: #292727;
}

.header__nav--hotline--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero {
  height: 75vh;
  background-image: url("./../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

@media (max-width: 1150px) {
  .hero {
    height: 65vh;
  }
}

@media (max-width: 1120px) {
  .hero {
    height: 75vh;
  }
}

@media (max-width: 650px) {
  .hero {
    height: 70vh;
  }
}

@media (max-width: 550px) {
  .hero {
    height: 60vh;
  }
}

@media (max-width: 420px) {
  .hero {
    height: 50vh;
  }
}

.hero__content {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 2rem;
}

@media (max-width: 885px) {
  .hero__content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.hero__heading {
  font-family: 'Rajdhani';
  padding-top: 15rem;
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 5rem;
  text-transform: uppercase;
  color: white;
  max-width: 650px;
}

.hero__heading--span {
  color: #fbb71c;
}

@media (max-width: 1150px) {
  .hero__heading {
    padding-top: 7rem;
  }
}

@media (max-width: 650px) {
  .hero__heading {
    font-size: 4rem;
  }
}

@media (max-width: 550px) {
  .hero__heading {
    font-size: 4rem;
    padding-top: 4rem;
  }
}

@media (max-width: 485px) {
  .hero__heading {
    font-size: 3rem;
    line-height: 3rem;
  }
}

.hero__subHeading {
  font-size: 14px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
}

@media (max-width: 650px) {
  .hero__subHeading {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 550px) {
  .hero__subHeading {
    font-size: 12px;
    padding-top: 1.3rem;
    padding-bottom: 5.5rem;
  }
}

@media (max-width: 485px) {
  .hero__subHeading {
    letter-spacing: 3px;
    font-size: 12px;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
  }
}

.hero__cta {
  display: inline-block;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Rajdhani';
  font-weight: 700;
  background-color: #fbb71c;
  padding: 1rem 4rem;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  cursor: pointer;
}

.hero__cta:hover {
  -webkit-transform: skew(0deg);
          transform: skew(0deg);
}

@media (max-width: 550px) {
  .hero__cta {
    font-size: 14px;
    padding: 0.5rem 2rem;
  }
}

.hero__cta--btn {
  color: #222222;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
}

.hero__cta--btn:hover {
  -webkit-transform: skew(0deg);
          transform: skew(0deg);
}

.hero__support--content--list {
  padding-top: 5rem;
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1120px) {
  .hero__support--content--list {
    display: -ms-grid;
    display: grid;
    gap: 1rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .hero__support--content--list {
    padding-top: 5rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 550px) {
  .hero__support--content--list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    border-right: none;
    background-color: #0c1555;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 6rem;
    gap: 3rem;
  }
}

@media (max-width: 480px) {
  .hero__support--content--list {
    margin-top: 5rem;
  }
}

@media (max-width: 360px) {
  .hero__support--content--list {
    margin-top: 3rem;
  }
}

.hero__support--item {
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  padding-left: 2rem;
}

.hero__support--item:not(:last-child) {
  border-right: 1px solid gray;
}

@media (max-width: 550px) {
  .hero__support--item:not(:last-child) {
    border-right: none;
  }
}

@media (max-width: 1120px) {
  .hero__support--item:nth-child(2) {
    border-right: none;
  }
}

@media (max-width: 550px) {
  .hero__support--item {
    gap: 1.2rem;
    padding: none;
  }
}

.hero__support--item--primary {
  min-width: 200px;
}

.hero__support--item--secondary {
  color: gray;
  font-size: 14px;
}

.hero__support--item--wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__support--item--icon {
  color: #fbb71c;
  font-size: 2.5rem;
}

.features {
  padding-top: 4rem;
  background-size: 100% 100%;
  position: relative;
  padding-bottom: 1rem;
}

@media (max-width: 550px) {
  .features {
    padding-top: 25rem;
  }
}

@media (max-width: 500px) {
  .features {
    padding-top: 30rem;
  }
}

@media (max-width: 490px) {
  .features {
    padding-top: 30rem;
  }
}

@media (max-width: 485px) {
  .features {
    padding-top: 19rem;
  }
}

@media (max-width: 420px) {
  .features {
    padding-top: 24rem;
  }
}

@media (max-width: 395px) {
  .features {
    padding-top: 27rem;
  }
}

.features__content {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 510px) {
  .features__content {
    background-position: center;
  }
}

.features__content--list {
  max-width: 1800px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

@media (max-width: 765px) {
  .features__content--list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

.features__content--item {
  position: relative;
  overflow: hidden;
  height: 280px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.features__content--item:nth-child(1) .features__content--item--photo {
  background-image: url(../img/carpart-banner-1.jpg);
}

.features__content--item:nth-child(2) .features__content--item--photo {
  background-image: url(../img/carpart-banner-2.jpg);
}

.features__content--item:nth-child(3) .features__content--item--photo {
  background-image: url(../img/carpart-banner-3.jpg);
}

.features__content--item:hover .features__content--item--photo {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.features__content--item:hover .features__content--item--overlay {
  width: 77%;
}

.features__content--item--photo {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.features__content--item--overlay {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  top: 0;
  background: #0c1555;
  opacity: 0.5;
  position: absolute;
  height: 100%;
  width: 65%;
  -webkit-clip-path: polygon(66% 0, 100% 40%, 59% 100%, 0 100%, 0 0);
          clip-path: polygon(66% 0, 100% 40%, 59% 100%, 0 100%, 0 0);
}

.features__content--item--wrapper {
  position: relative;
  height: 100%;
  max-width: 370px;
}

.features__heading {
  color: white;
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 700;
  font-family: 'Rajdhani';
  padding-left: 3rem;
  padding-top: 0;
}

@media (max-width: 900px) {
  .features__heading {
    padding-left: 1rem;
  }
}

@media (max-width: 470px) {
  .features__heading {
    font: size 1.5rem;
  }
}

.features__heading--paragraph {
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1.95rem;
  color: white;
  font-size: 15.5px;
  max-width: 260px;
  line-height: 23px;
  font-family: 'Open Sans';
}

@media (max-width: 900px) {
  .features__heading--paragraph {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
  }
}

.features__heading--paragraph--3 {
  padding-top: 2.8rem;
  padding-left: 3rem;
  text-transform: uppercase;
  color: white;
  font-family: 'Rajdhani';
  font-size: 16.5px;
}

@media (max-width: 900px) {
  .features__heading--paragraph--3 {
    padding-left: 1rem;
  }
}

.features__heading--paragraph--price {
  padding-left: 2rem;
  color: #fbb71c;
  font-size: 1.34rem;
  margin: -24.5px;
  font-family: 'Rajdhani';
  font-weight: 900;
}

.features__heading--paragraph--price--from {
  padding-top: 1rem;
  padding-bottom: 1.1rem;
  padding-left: 3rem;
  color: white;
  font-size: 15.5px;
}

@media (max-width: 900px) {
  .features__heading--paragraph--price--from {
    padding-left: 1rem;
  }
}

.features__heading--additional {
  padding-left: 3rem;
  padding-top: 2rem;
  color: white;
  text-transform: uppercase;
  line-height: 10px;
}

@media (max-width: 900px) {
  .features__heading--additional {
    padding-left: 1rem;
  }
}

.features__heading--additional--span {
  padding-left: 3rem;
  color: white;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

@media (max-width: 900px) {
  .features__heading--additional--span {
    padding-left: 1rem;
  }
}

.features__heading--saveUp {
  margin-top: 3rem;
  margin-left: 3rem;
  margin-bottom: 1.4rem;
  background-color: #fbb71c;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Rajdhani';
  font-weight: 900;
  font-size: 1rem;
  color: #292727;
}

@media (max-width: 900px) {
  .features__heading--saveUp {
    padding-left: 1rem;
    margin-left: 1rem;
  }
}

.features__subheading {
  display: inline-block;
  padding-top: 3.3rem;
  padding-left: 3rem;
  color: white;
  text-transform: uppercase;
  font-family: 'Rajdhani';
  font-size: 2.3rem;
  line-height: 33px;
  letter-spacing: 1px;
}

@media (max-width: 900px) {
  .features__subheading {
    padding-left: 1rem;
  }
}

@media (max-width: 700px) {
  .features__subheading {
    width: 50%;
  }
}

@media (max-width: 470px) {
  .features__subheading {
    font-size: 1.5rem;
    width: 50%;
  }
}

.features__cta {
  display: inline;
  margin-left: 3rem;
  padding-top: 1rem;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: 700;
  letter-spacing: 1px;
  border-bottom-style: solid;
  border-bottom-width: 2.5px;
  color: #fbb71c;
}

@media (max-width: 900px) {
  .features__cta {
    margin-left: 1rem;
  }
}

.features__cta--btn {
  color: white;
}

.module {
  position: relative;
  padding-bottom: 5rem;
}

.module__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 320px 1fr;
      grid-template-columns: 320px 1fr;
}

.module__details {
  padding-left: 1rem;
}

.module__left {
  background-color: #fbb71c;
  padding-left: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.7rem;
  font-family: 'Rajdhani';
  font-weight: 900;
  text-transform: uppercase;
  color: #292727;
  -webkit-clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
}

.module__tabs {
  background-color: #0c1555;
  margin-left: -5rem;
  padding-left: 7rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-family: 'Rajdhani';
  font-size: 1.2rem;
}

.module__tabs--item:hover {
  color: #fbb71c;
}

.module__tabs--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  color: white;
}

.module__cards--list {
  display: -ms-grid;
  display: grid;
  line-height: 1.5rem;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.module__cards--item {
  position: relative;
  border-bottom: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
}

.module__cards--item:last-child .module__cards--item--wrapper {
  border-right: 1px solid #e3e3e3;
}

.module__cards--item--wrapper {
  padding-bottom: 1rem;
}

.module__cards--item:hover .module__cards--item--photo {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.module__cards--item:hover .module__cards--submit {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.module__cards--item:hover .module__popup {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  opacity: 1;
  visibility: visible;
}

.module__cards--item--imageWrapper {
  overflow: hidden;
}

.module__cards--item--price {
  font-weight: 900;
  font-family: 'Open Sans';
  font-size: 1.1rem;
}

.module__cards--item--photo {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.module__cards--submit {
  background: #fbb71c;
  color: #0c1555;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 1rem;
  float: right;
  margin-top: -2.5rem;
  font-size: 1.8rem;
  text-align: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.module__cards--submit--icon {
  line-height: 2.3rem;
  font-weight: 100;
}

.module__cards--submit--icon:hover {
  color: white;
}

.module__reviews--actions {
  color: #fbb71c;
}

.module__popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #707070;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
  -webkit-transform: scale(0);
          transform: scale(0);
  position: absolute;
  -webkit-transform: translateY(1.5rem);
          transform: translateY(1.5rem);
  width: 100%;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.module__popup--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.module__popup--wrapper:hover {
  color: #fbb71c;
}

.module__popup--wrapper--icon {
  font-size: 1.5rem;
}

.module__popup--wrapper--name {
  font-size: 1.2rem;
}

.bannerMid {
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.bannerMid__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 600px 1fr;
      grid-template-columns: 600px 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bannerMid__wrapper:hover .bannerMid__cta {
  -webkit-transform: skew(0deg);
          transform: skew(0deg);
}

.bannerMid__wrapper:hover .bannerMid__cta--btn {
  -webkit-transform: skew(0deg);
          transform: skew(0deg);
}

.bannerMid__leftWrapper {
  background-color: #0c1555;
  margin-right: -40rem;
  padding-left: 16rem;
  -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 100%, 0% 100%);
          clip-path: polygon(0 10%, 100% 10%, 100% 100%, 0% 100%);
}

.bannerMid__heading {
  padding-top: 10rem;
  font-family: 'Rajdhani';
  font-size: 2.8rem;
  line-height: 1.25;
  width: 450px;
  text-transform: uppercase;
  color: white;
}

.bannerMid__heading--span {
  color: #fbb71c;
}

.bannerMid__subHeading {
  padding-top: 2rem;
  font-size: 1rem;
  color: white;
  padding-bottom: 4rem;
}

.bannerMid__right {
  overflow: hidden;
}

.bannerMid__right--heroWrapper {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: 22rem;
}

.bannerMid__right--hero {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-clip-path: polygon(16% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(16% 0, 100% 0%, 100% 100%, 0% 100%);
}

.bannerMid__cta {
  display: inline-block;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Rajdhani';
  font-weight: 700;
  background-color: #fbb71c;
  padding: 0.5rem 4rem;
  border-radius: 0;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.bannerMid__cta--btn {
  color: #222222;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  display: inline-block;
}
/*# sourceMappingURL=styles.css.map */